#note {
  // background-color: green;
  p {
    // border-bottom: 1px solid #333;
    // margin-right: .5rem;
    // margin-bottom: .2rem;
  }
  button {    
    // background-color: #999;
    // padding: .1rem;
    margin: 0 .1rem;
    border-radius: .2rem;
    color: white;
  }
  .Write {
    background-color: slateblue;
  }
  .Edit {
    // background-color: skyblue;

  }
  .Delete{
    background-color: salmon;
  }
  .Update {
    background-color: seagreen;
  }
}
