#note button {
  margin: 0 0.1rem;
  border-radius: 0.2rem;
  color: white;
}
#note .Write {
  background-color: slateblue;
}
#note .Delete {
  background-color: salmon;
}
#note .Update {
  background-color: seagreen;
}