#note p {
  border-bottom: 1px solid #333;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
#note button {
  padding: 0.1rem;
  margin: 0 0.1rem;
  border-radius: 0.2rem;
  color: white;
}
#note .Write {
  background-color: slateblue;
}
#note .Edit {
  background-color: skyblue;
}
#note .Delete {
  background-color: salmon;
}
#note .Update {
  background-color: seagreen;
}